body {
  display: flex;
  flex-direction: column;
}

header {
  height: 100vh;
  background-color: white;
  background: url("../images/grapefarm.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
  flex-direction: column;
  display: flex;
}

header>h1 {
    font-family: Pacifico, sans-serif;
    font-size: 12rem;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    text-shadow: 2px 2px #ff0000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Be Vietnam', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.navbar a {
    text-decoration: none !important;
    color: black;
}
